.bgimgfull{
	height: 100%;
	background-image: url("../../assets/makebg.jpg");
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center; 
  	background-size: cover;
  	background-color: #565656;
}
main{
	background: rgba(64, 64, 64, 0.9);
	color: white;
}
.conteudo{
	margin: 5px !important;
}
.bg-sys {
	background: rgba(64, 64, 64, 0.8);
	color: white;
}