.LIVRE{
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px; 
	background-color: rgba(0,128,0,0.5) !important;
}
.LIVRE > .card-body {
	padding: 0px;
}
.OCUPADO{
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px; 
	background-color: rgba(128,0,0,0.5) !important;
}
.card {
	border: 0px;
	background-color: rgba(64, 64, 64, 0.7);
}