*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body, #root{
  height: 100vh;
}
body{
  background-color: #FFFFFF;
}
body,
input,
button,
textarea {
font: 500 1.6rem Poppins;
}
#root{
  display:flex;
  align-items: center;
  justify-content: center;
}