*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body, #root{
  height: 100vh;
}
body{
  background-image: url("./assets/makebg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
	background-size: cover;
	background-color: #565656;
}
body,
input,
button,
textarea {
font: 500 1.6rem Poppins;
}